<div class="form-group">
    <input type="text" class="form-control" placeholder="What you have to do?" ng-keyup="add(item,$event)"
           ng-model="item.description"/>
</div>
<ul class="list-group">
    <li class="list-group-item" ng-repeat="item in items">
        <input type="checkbox" ng-model="item.selected" name="task[]" id="task_{{$index}}"/>
        <span ng-class="{complete: item.done}">{{item.description}}</span>
    </li>
</ul>
<div>
    <a href="javascript:;" ng-click="deleteSelected(items)" ng-show="getSelectedTasks().length > 0" class="btn btn-block btn-danger">Delete</a>
</div>