<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Pending tasks</h3>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <input type="text" class="form-control input-sm" placeholder="What you have to do?"
                   ng-keyup="vm.add(vm.item,$event)"
                   ng-model="vm.item.description"/>
        </div>
    </div>
    <ul class="list-group todoList scrollable">
        <li class="list-group-item" ng-repeat="item in vm.getItems()">
            <input type="checkbox" ng-click="vm.done(item)"/>
            <span>{{item.description}}</span>
        </li>
    </ul>
</div>
