<div class="row">
    <div class="col-md-12">
        <div class="alert alert-info">
            <strong>Hey!</strong> I blogged about this project <a href="http://dsalvagni.com.br/angularjs-para-aplicacoes-de-larga-escala/" target="_blank" style="color:#fff; text-decoration:underline; ">here [pt-BR]</a>.
        </div>
    </div>
    <div class="col-md-6">
        <todo-pending-tasks></todo-pending-tasks>
    </div>
    <div class="col-md-6">
        <contact-list-phone-book></contact-list-phone-book>
    </div>
</div>
