<div class="row">
    <div class="col-md-12">
        <div class="alert alert-info">
            <strong>Hey!</strong> I blogged about this project <a href="http://dsalvagni.com.br/angularjs-para-aplicacoes-de-larga-escala/" target="_blank" style="color:#fff; text-decoration:underline; ">here [pt-BR]</a>. You can read it in <a href="https://translate.google.com/translate?hl=pt-BR&sl=pt&tl=en&u=http%3A%2F%2Fdsalvagni.com.br%2Fangularjs-para-aplicacoes-de-larga-escala%2F" style="color:#fff; text-decoration:underline;" target="_blank">english [en]</a>.
        </div>
    </div>
    <div class="col-md-6">
        <todo-undone-tasks></todo-undone-tasks>
    </div>
    <div class="col-md-6">
        <contact-list-phone-book></contact-list-phone-book>
    </div>
</div>